/* #TODO make relative */

.slick-carousel button {
    color: black;
}

.slick-carousel div * {
    text-align: center;
    margin: auto;
    width: 500px;
    height: 400px;
}

.slick-carousel-container {
    width: 100%;
    height: 100px;
}

.slick-dots {
	display: flex;
	justify-content: center;
    font-size: 0px;
}

.slick-dots li.slick-active button {
    background-color: #703BF7;
}

/* .slider-for div {
    margin: auto;
    padding: 10px;
    width: 400px;
    height: 400px;
}

.slider-for div * {
    width: 400px;
    height: 400px;
}

.slider-nav div {
    margin: auto;
    width: 100%;
    height: 400px;
}

.slider-nav div * {
    width: 100px;
    height: 100px;
} */