.card-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1,596px;
    height: 692px;
    gap: 10px;
}

.card-subcontainer {
    padding: 30px;
    border: 1px solid #999999;
    border-radius: 12px;
}

.card-img {
    border-radius: 12px;
    width: 400px;
    height: 300px;
}

.card-heading-font {
    font-weight: bold;
    font-size: 36px;
}

.card-content-font {
    color: #999999;
    font-weight: 500;
    font-size: 18px;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    width: 0%; /* Set this to the percentage of completion */
    background-color: #703BF7;
    height: 20px;
    box-sizing: border-box;
}