{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Urbanist'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block css_link %}
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block navbar_css_link %}
            <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        {% endblock %}

        <title>{% block title %}B2D Ventures{% endblock %}</title>
    </head>
    <body>
        {% include 'navbar.html' %}
        {% block content %}{% endblock %}
    </body>
</html>