{% extends "base.html" %}
{% load static %}

{% block css_link %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
{% endblock %}

{% block content %}
    <div class="slick-carousel-container">
        <div class="slick-carousel">
            <div>
                <img src="https://htmlcolorcodes.com/assets/images/colors/red-color-solid-background-1920x1080.png"
                alt="Red Color Solid Background"
                >
            </div>
            <div>
                <img src="https://htmlcolorcodes.com/assets/images/colors/yellow-color-solid-background-1920x1080.png"
                alt="Yellow Color Solid Background"
                >
            </div>
            <div>
                <img src="https://htmlcolorcodes.com/assets/images/colors/bright-green-color-solid-background-1920x1080.png"
                alt="Red Color Solid Background"
                >
            </div>
        </div>
    </div>

    <div class="details-container">
        <p class="heading-font">CoffeeFast</p>
        <p class="content-font">
            Make coffee, coffee good
        </p>

        <button class="generic-button">Start Investment</button>
        <p></p>

        <p class="heading-font">Deal Terms</p>
        <div class="card-container">
            <div class="card-subcontainer">
                <p class="heading-font">1000 USD</p>
                <p class="content-font">Mininum Investment</p>
            </div>
            <div class="card-subcontainer">
                <p class="heading-font">40000 USD</p>
                <p class="content-font">Funding Goal</p>
            </div>
            <div class="card-subcontainer">
                <p class="heading-font">29000 USD</p>
                <p class="content-font">Current Funds Raised</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="details-container">
        <p class="heading-font">About</p>
        <p class="content-font">
            Arabica Acerbic Affogato Aftertaste Aged Americano And Aroma, bar panna so Barista cortado trifecta extraction, skinny aftertaste filter java cultivar cinnamon. Mazagran trade Barista french and Acerbic acerbic Aged milk cinnamon origin carajillo, mountain coffee roast mug wings Bar single viennese pumpkin go pot, dripper crema flavour mocha At bar sit medium au breve. Espresso Brewed Blue iced Americano robust whipped, bar percolator  grounds go saucer robusta, Au shop Affogato Bar aged coffee, Barista blue strong origin aftertaste. Blue skinny coffee breve Brewed acerbic, siphon steamed And foam, qui Arabica ut latte. Go brewed At aftertaste sweet cinnamon caffeine rich strong caramelization Aftertaste, Body roast body frappuccino Beans extraction sit americano Aroma.
        </p>
        <img src="https://static.vecteezy.com/system/resources/thumbnails/025/282/026/small_2x/stock-of-mix-a-cup-coffee-latte-more-motive-top-view-foodgraphy-generative-ai-photo.jpg"></img>
        <p class="content-font">
            Arabica Acerbic Affogato Aftertaste Aged Americano And Aroma, bar panna so Barista cortado trifecta extraction, skinny aftertaste filter java cultivar cinnamon. Mazagran trade Barista french and Acerbic acerbic Aged milk cinnamon origin carajillo, mountain coffee roast mug wings Bar single viennese pumpkin go pot, dripper crema flavour mocha At bar sit medium au breve. Espresso Brewed Blue iced Americano robust whipped, bar percolator  grounds go saucer robusta, Au shop Affogato Bar aged coffee, Barista blue strong origin aftertaste. Blue skinny coffee breve Brewed acerbic, siphon steamed And foam, qui Arabica ut latte. Go brewed At aftertaste sweet cinnamon caffeine rich strong caramelization Aftertaste, Body roast body frappuccino Beans extraction sit americano Aroma.
        </p>
        <iframe src="https://www.youtube.com/embed/X9tg3J5OiYU"></iframe>
    </div>
    <hr>
    #TODO change to slick carousel
    <div class="details-container">
        <p class="heading-font">Team</p>
        <p class="content-font">Our Team is best Team</p>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="{% static 'js/details.js' %}"></script>
{% endblock %}

{% comment %} https://republic.com/lexitech2024 {% endcomment %}
