{% extends "base.html" %}
{% load static %}

{% block css_link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    {% if messages %}
        {{ messages }}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href={% url 'details' %}>Example Detail Page</a>

    <div class="card-container">
        <div class="card-subcontainer">
            <img class="card-img" alt="Test image"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Fronalpstock_big.jpg/2560px-Fronalpstock_big.jpg"
            >
            <p class="card-heading-font">
                Very long text aaaaaaaaaaaaaaaaaaa
            </p>
            <p class="card-content-font">
                Shikanoko nokonoko koshitantan<br>
                Shikanoko nokonoko koshitantan<br>
                Shikanoko nokonoko koshitantan<br>
                Shikanoko nokonoko koshitantan<br>

                Shikanoko nokonoko koshitantan<br>
                Shikanoko nokonoko koshitantan<br>
                Shikanoko nokonoko koshitantan<br>
                Shikanoko nokonoko koshitantan<br>
            </p>
            <div class="progress-bar">
                <div class="progress" style="width: 50%;"></div>
            </div><br>
            <button class="generic-button" type="submit">View Details</button>
        </div>
        <div class="card-subcontainer">
            <img class="card-img" alt="Test image"
                src="https://p.bigstockphoto.com/GeFvQkBbSLaMdpKXF1Zv_bigstock-Aerial-View-Of-Blue-Lakes-And--227291596.jpg"
            >
            <p class="card-heading-font">
                Very long text aaaaaaaaaaaaaaaaaaa
            </p>
            <p class="card-content-font">
                costantan
            </p>
            <div class="progress-bar">
                <div class="progress" style="width: 75%;"></div>
            </div><br>
            <button class="generic-button" type="submit">View Details</button>
        </div>
        <div class="card-subcontainer">
            <img class="card-img" alt="Test image"
                src="https://p.bigstockphoto.com/GeFvQkBbSLaMdpKXF1Zv_bigstock-Aerial-View-Of-Blue-Lakes-And--227291596.jpg"
            >
            <p class="card-heading-font">
                ?
            </p>
            <p class="card-content-font">
                costantana
            </p>
            <div class="progress-bar">
                <div class="progress" style="width: 25%;"></div>
            </div><br>
            <button class="generic-button" type="submit">View Details</button>
        </div>
    </div>

{% endblock %}