{% extends "base.html" %}
{% load static %}

{% block css_link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    {% if messages %}
        {{ messages }}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <button class="generic-button" type="submit">Register</button>
    </form>

    {% if user.is_authenticated %}
        <h1>welcome back {{user.username}}!</h1>

        <form action="{% url 'logout' %}?next=/" method="post">
            {% csrf_token %}
            <button class="generic-button" type="submit">Logout</button>
        </form>

    {% else %}
        <h1>Please log in!</h1>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <button class="generic-button" type="submit">Login</button>
        </form>
    {% endif %}

    <div class="card-container">
        <div class="card-subcontainer">
            <img class="card-img" alt="Test image"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Fronalpstock_big.jpg/2560px-Fronalpstock_big.jpg"
            >
            <p class="card-heading-font">
                Very long text aaaaaaaaaaaaaaaaaaa
            </p>
            <p class="card-content-font">
                Shikanoko nokonoko koshitantan<br>
                Shikanoko nokonoko koshitantan<br>
                Shikanoko nokonoko koshitantan<br>
                Shikanoko nokonoko koshitantan<br>
            </p>
            <button class="generic-button" type="submit">View Details</button>
        </div>
        <div class="card-subcontainer">
            <img class="card-img" alt="Test image"
                src="https://p.bigstockphoto.com/GeFvQkBbSLaMdpKXF1Zv_bigstock-Aerial-View-Of-Blue-Lakes-And--227291596.jpg"
            >
            <p class="card-heading-font">
                Very long text aaaaaaaaaaaaaaaaaaa
            </p>
            <p class="card-content-font">
                costantan
            </p>
            <button class="generic-button" type="submit">View Details</button>
        </div>
        <div class="card-subcontainer">
            <img class="card-img" alt="Test image"
                src="https://p.bigstockphoto.com/GeFvQkBbSLaMdpKXF1Zv_bigstock-Aerial-View-Of-Blue-Lakes-And--227291596.jpg"
            >
            <p class="card-heading-font">
                ?
            </p>
            <p class="card-content-font">
                costantana
            </p>
            <button class="generic-button" type="submit">View Details</button>
        </div>
    </div>
    <button class="gray-button">
        <i class="fa fa-arrow-left"></i>
    </button>
    <button class="gray-button">
        <i class="fa fa-arrow-right"></i>
    </button>

    <div class="container">
        <div class="heading-font">29000 USD</div>
        <div class="content-font">Current Funds Raised</div>
    </div>
{% endblock %}