{% extends "base.html" %}
{% load socialaccount %}
{% load static %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-picture">
        <img src="https://images.tokopedia.net/blog-tokopedia-com/uploads/2019/09/investasi-aman.jpg" alt="Investment Image">
    </div>
    <div class="auth-div">
        <p class="heading-font">B2D Ventures</p>
        Start your journey towards smart investments today.
        <p class="heading-font">Login</p>
        <div class="auth-form">
            <form method="post">
                {% csrf_token %}
                <p class="topic-font">Username</p>
                {{ form.username }}
                <p class="topic-font">Password</p>
                {{ form.password }}
                <br><br>
                <button class="generic-button" type="submit">Login</button>
            </form>
        </div>

        <p>Doesn't have account? Register here.</p>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <button class="generic-button" type="submit">Register</button>
        </form>

        <form action="{% provider_login_url 'google' %}">
            <button id="login-with-google-btn" type="submit">Sign in with Google</button>
        </form>

        {% if form.non_field_errors %}
        <div class="error">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
