{% extends "base.html" %}
{% load static %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
{% endblock %}

{% block title %}Register Account{% endblock %}

{% block content %}
    <h2>Register</h2>
    Start your journey towards smart investments today.
    <div class="auth-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="generic-button" type="submit">Register</button>
        </form>
    </div>

    Already have account? Login here.
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <button class="generic-button" type="submit">Login</button>
    </form>

    <h1>
        ERROR:
        {{ form.errors }}
    </h1>
{% endblock %}